<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

	<servlet>
		<servlet-name>blastState</servlet-name>
		<servlet-class>com.lordjoe.blast.BLASTRunnerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>blastState</servlet-name>
		<url-pattern>/blastState</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>comet</servlet-name>
		<servlet-class>com.lordjoe.comet.CometRunnerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>comet</servlet-name>
		<url-pattern>/comet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>com.lordjoe.blast.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/myIndex</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>blastMonitor</servlet-name>
		<servlet-class>com.lordjoe.blast.BLASTMonitorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>blastMonitor</servlet-name>
		<url-pattern>/blastMonitor</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>BLASTRunnerServlet</servlet-name>
		<servlet-class>com.lordjoe.blast.BLASTRunnerServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>BLASTRunnerServlet</servlet-name>
		<url-pattern>/blastRunner</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>This servlet sends file to client</description>
		<display-name>DownloadFileServlet</display-name>
		<servlet-name>DownloadFileServlet</servlet-name>
		<servlet-class>com.lordjoe.blast.DownloadFileServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DownloadFileServlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<context-param>
		<description>Location to store uploaded file</description>
		<param-name>file-upload</param-name>
		<param-value>
			/opt/blastserver
		</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>/myIndex</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>